
<div class="management-view">
    <h1 class="management-title"><%= title %></h1>

    <%- messages() %>

    <div class="management-links">
        <a href="/inv/add-classification" class="management-link">Add New Classification</a>
        <a href="/inv/add-inventory" class="management-link">Add New Vehicle</a>
    </div>
</div>
